@import 'tailwindcss';
@import "@nuxt/ui";

@theme {
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 2560px;
    --breakpoint-5xl: 3840px;
}

@theme static {
    /* Override default green color */
    --color-green-50: #EFFDF5;
    --color-green-100: #D9FBE8;
    --color-green-200: #B3F5D1;
    --color-green-300: #75EDAE;
    --color-green-400: #00DC82;
    --color-green-500: #00C16A;
    --color-green-600: #00A155;
    --color-green-700: #007F45;
    --color-green-800: #016538;
    --color-green-900: #0A5331;
    --color-green-950: #052E16;

    --color-brand-50: #fef2f2;
    --color-brand-100: #fee2e2;
    --color-brand-200: #fecaca;
    --color-brand-300: #fca5a5;
    --color-brand-400: #f87171;
    --color-brand-500: #ef4444;
    --color-brand-600: #dc2626;
    --color-brand-700: #b91c1c;
    --color-brand-800: #991b1b;
    --color-brand-900: #7f1d1d;
    --color-brand-950: #450a0a;
}

